<div class="header__mid pr pl__15 pr__15 {{settings.header_top_color}}{%- if settings.header_bg_image != blank %} lazyload{%- endif -%}"{%- if settings.header_bg_image != blank %} data-bgset="{%- include 'bgset', image: settings.header_bg_image -%}" data-sizes="auto" data-parent-fit="cover" style="background-image: url('{{ settings.header_bg_image | img_url: '50x50' }});"{%- endif -%}>
   {%- if settings.full_header_enable == false -%}<div class="jas-container">{%- endif -%}   
      <div class="jas-row middle-xs">
         <div class="hide-md visible-sm visible-xs jas-col-sm-3 jas-col-xs-3 flex start-md flex">
            {%- include 'push_menu' -%}
         </div>
         <div class="jas-col-md-2 jas-col-sm-6 jas-col-xs-6 start-md center-sm center-xs jas_div_logo">
            {%- include 'logo_menu' -%}
         </div>
         <div class="jas-col-md-8 hidden-sm">
            <div class="jas-navigation flex center-xs">
            {%- section 'mega_menu' -%}
            </div>
            <!-- .jas-navigation -->
         </div>
         <div class="jas-col-md-2 jas-col-sm-3 jas-col-xs-3">
            <div class="jas-action flex end-xs middle-xs">
               {%- include 'jas_action' -%}
            </div><!-- .jas-action -->
         </div>
      </div>
      <!-- .jas-row -->
   {%- if settings.full_header_enable == false -%}</div><!-- .jas-container -->{%- endif -%}
</div>