<div class="header__mid tc{%- if settings.header_bg_image != blank %} lazyload{%- endif -%}"{%- if settings.header_bg_image != blank %} data-bgset="{%- include 'bgset', image: settings.header_bg_image -%}" data-sizes="auto" data-parent-fit="cover" style="background-image: url('{{ settings.header_bg_image | img_url: '50x50' }});"{%- endif -%}>
   {%- if settings.full_header_enable == false -%}<div class="jas-container">{%- endif -%}
      <div class="jas-row middle-xs mid__top pl__15 pr__15 pr">
         <div class="jas-col-md-3 jas-col-xs-3 flex start-md middle-xs">
            {%- include 'push_menu' -%}
         </div>
         <div class="jas-col-md-6 jas-col-xs-6">{%- include 'logo_menu' -%}</div>
         <div class="jas-action flex end-xs middle-xs jas-col-md-3 jas-col-xs-3">
            {%- include 'jas_action' -%}
         </div><!-- .jas-action -->
      </div>
      <div class="jas-navigation flex center-xs hidden-sm">
         {%- section 'mega_menu' -%}
      </div><!-- .jas-navigation -->
      <!-- .jas-row -->
   {%- if settings.full_header_enable == false -%}</div><!-- .jas-container -->{%- endif -%}
</div>