<li id="menu-item-1517991857527" class="menu-item menu-item-has-children menu-center sale">
   <a href=""><i class="fa fa-user"></i>mega menu<span class="jas-menu-label jas-menu-label-sale">sale</span></a>
   <ul class="sub-menu mega-menu">
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item"><a href="#">Product Detail Features</a>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="menu-item"><a href="">Product With Gallery Swatch<span class="jas-menu-label jas-menu-label-sale">sale</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item"><a href="#">Product Detail Features</a>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item"><a href="#">Product Detail Features</a>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item"><a href="#">Product Detail Features</a>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li>
         <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-has-children sub-column-item"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product Detail Layout</a>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/brown-sneaker-shoes/">Product Detail Layout 1</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/calvin-klein-logo-sweatpants/">Product Detail Layout 2</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/sweatshirt-in-geometric-print/">Product Detail Layout 3</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/premium-shoes-clean-package/">Product Detail Layout 4</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/herschel-retreat-backpack/">Product with thumb at bottom</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/skinny-jeans-in-black/">Product with thumb on right</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/asos-ridley-high-waist/">Product with thumb outside</a></li>
         </ul>
      </li>
      </ul>
</li>
<li id="menu-item-1517991857527" class="menu-item menu-item-has-children menu-item-1517991857527">
   <a href=""><i class="fa fa-user"></i>collection banner</a>
   <ul class="sub-menu mega-menu mega-menu-banner">
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item">
         <div class="menu-banner tc hover-1 cursor-pointer" onclick="window.location.href='/collections/shoes'">
            <div class="main-wrapp-img">
               <div class="banner-image"><img class="promo-banner-image image-1" src="//cdn.shopify.com/s/files/1/2285/2483/files/fashion-banner_360x.progressive.jpg&#10;" alt="" title=""></div>
            </div>
            <div class="wrapper-content-baner">
               <div class="banner-inner"><h3 class="mg__0">HANDMADE SHOES</h3></div>
            </div>
         </div>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item">
         <div class="menu-banner tc hover-1 cursor-pointer" onclick="window.location.href='/collections/shoes'">
            <div class="main-wrapp-img">
               <div class="banner-image"><img class="promo-banner-image image-1" src="//cdn.shopify.com/s/files/1/2285/2483/files/fashion-banner_360x.progressive.jpg&#10;" alt="" title=""></div>
            </div>
            <div class="wrapper-content-baner">
               <div class="banner-inner"><h3 class="mg__0">Kids Fashion</h3></div>
            </div>
         </div>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item">
         <div class="menu-banner tc hover-1 cursor-pointer" onclick="window.location.href='/collections/shoes'">
            <div class="main-wrapp-img">
               <div class="banner-image"><img class="promo-banner-image image-1" src="//cdn.shopify.com/s/files/1/2285/2483/files/fashion-banner_360x.progressive.jpg&#10;"  alt="" title=""></div>
            </div>
            <div class="wrapper-content-baner">
               <div class="banner-inner"><h3 class="mg__0">Jewellery</h3></div>
            </div>
         </div>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item">
         <div class="menu-banner tc hover-1 cursor-pointer" onclick="window.location.href='/collections/shoes'">
            <div class="main-wrapp-img">
               <div class="banner-image"><img class="menu-banner-image" src="//cdn.shopify.com/s/files/1/2285/2483/files/fashion-banner_360x.progressive.jpg&#10;"  alt="" title=""></div>
            </div>
            <div class="wrapper-content-baner">
               <div class="banner-inner"><h3 class="mg__0">Woman</h3></div>
            </div>
         </div>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item">
         <div class="menu-banner tc hover-1 cursor-pointer" onclick="window.location.href='/collections/shoes'">
            <div class="main-wrapp-img">
               <div class="banner-image"><img class="promo-banner-image image-1" src="//cdn.shopify.com/s/files/1/2285/2483/files/fashion-banner_360x.progressive.jpg&#10;"  alt="" title=""></div>
            </div>
            <div class="wrapper-content-baner">
               <div class="banner-inner"><h3 class="mg__0">Man</h3></div>
            </div>
         </div>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li>
   </ul>
</li>
<li id="menu-item-1517991857527" class="menu-item menu-item-has-children menu-center menu-item-1517991857527">
   <a href=""><i class="fa fa-user"></i>mega menu pr</a>
   <ul class="sub-menu mega-menu">
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item"><a href="#">Product Detail Features</a>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item"><a href="#">Product Detail Features</a>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item"><a href="#">Product Detail Features</a>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item"><a href="#">Product Detail Features</a>
         <ul class="sub-column">
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
            <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
            <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
         </ul>
      </li>
      <li class="menu-item menu-item-pr sub-column-item">
         <a href="#" class="hide">Product menu gecko</a>
         <div class="products jas-row jas-products-holder jas-carousel {{section.settings.image_size}}{%- if settings_pr_img_size %} jas_section_eqh{%- endif -%}" data-slick='{"slidesToShow": 1,"slidesToScroll": 1,"arrows":false,"fade":true}'>
            {%- assign collection = collections['all'] -%}
            {%- for product in collection.products -%}
               {%- include 'jas_product_loop' -%}
               {%- if forloop.index == 5 -%}{%- break -%}{%- endif -%}
            {%- endfor -%}
         </div>
      </li>
   </ul>
</li>
<li class="menu-item menu-item-type-post_type_archive menu-item-object-portfolio menu-item-has-children">
   <a href="http://janstudio.net/claue/demo/portfolio/">dropdown</a>
   <ul class="sub-menu">
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://janstudio.net/claue/demo/portfolio-2-columns/">Portfolio 2 Columns</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://janstudio.net/claue/demo/portfolio-3-columns/">Portfolio 3 Columns</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page has_drop">
         <a href="http://janstudio.net/claue/demo/portfolio-4-columns/">Portfolio 4 Columns</a>
         <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://janstudio.net/claue/demo/portfolio-2-columns/">Portfolio 2 Columns</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://janstudio.net/claue/demo/portfolio-3-columns/">Portfolio 3 Columns</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://janstudio.net/claue/demo/portfolio-4-columns/">Portfolio 4 Columns</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page has_drop right">
               <a href="http://janstudio.net/claue/demo/portfolio-4-columns/">Portfolio 4 Columns</a>
               <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://janstudio.net/claue/demo/portfolio-2-columns/">Portfolio 2 Columns</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://janstudio.net/claue/demo/portfolio-3-columns/">Portfolio 3 Columns</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://janstudio.net/claue/demo/portfolio-4-columns/">Portfolio 4 Columns</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="http://janstudio.net/claue/demo/portfolio/white-sport-shoes/">Single Portflio With Shop</a></li>
               </ul>
            </li>
         </ul>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="http://janstudio.net/claue/demo/portfolio/white-sport-shoes/">Single Portflio With Shop</a></li>
   </ul>
</li>
shipping
<li id="menu-item-1517991857527" class="menu-item menu-item-has-children menu-item-shipping">
   <a href=""><i class="fa fa-user"></i>mega menu</a>
   <div class="mega-menu">
      <ul class="sub-menu">
         <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item"><a href="#">Product Detail Features</a>
            <ul class="sub-column">
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
               <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
               <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
            </ul>
         </li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item"><a href="#">Product Detail Features</a>
            <ul class="sub-column">
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
               <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
               <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
            </ul>
         </li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item"><a href="#">Product Detail Features</a>
            <ul class="sub-column">
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cuffed-beanie/">Product With  Color Swatch</a></li>
               <li class="hot menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/mercury-tee/">Product With Gallery Swatch</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cluse-la-boheme-rose-gold/">Product With Images Swatch</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/pink-leather-watch/">Product with 360 video</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/leather-white-trainers/">External/Affiliate Product</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/men-clothing-combo/">Grouped Product</a></li>
               <li class="new menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/short-sleeved-hoodie-with-step-hem/">Product with bundle</a></li>
               <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://janstudio.net/claue/demo/product/cyan-boheme/">Product full width layout</a></li>
            </ul>
         </li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-column-item">
            <a href="#" class="hide_menu_banner">Banner menu gecko</a>
            <div class="menu-banner tc hover-1 cursor-pointer" onclick="window.location.href='/collections/shoes'">
            <div class="main-wrapp-img">
               <div class="banner-image"><img class="promo-banner-image image-1" src="//cdn.shopify.com/s/files/1/1933/6253/files/menu-baner-1_2e159f06-6333-429a-b3c0-5708c01cd811.jpg" alt="" title=""></div>
            </div>
            <div class="wrapper-content-baner">
               <div class="banner-inner"><h3 class="mg__0">HANDMADE SHOES</h3></div>
            </div>
         </div>
         </li>
      </ul>
      <div class="jas-row row_menu_shipping">
         <div class="jas-col-sm-4 jas-col-xs-12">
            <div class="jas-service tl mt__20 mb__20"><div class="icon medium cp" style="color: #9e9e9e"><i class="pe-7s-car"></i></div><div class="content tl">
                  <h3 class="title cp tu fs__14 mg__0 mb__5" style="color: #222222">Add a title</h3>
                  <p class="mg__0" style="color: #878787">Use this text to describe.</p>
               </div>
            </div>
         </div>
         <div class="jas-col-sm-4 jas-col-xs-12">
            <div class="jas-service tl mt__20 mb__20"><div class="icon medium cp" style="color: #9e9e9e"><i class="pe-7s-car"></i></div><div class="content tl">
                  <h3 class="title cp tu fs__14 mg__0 mb__5" style="color: #222222">Add a title</h3>
                  <p class="mg__0" style="color: #878787">Use this text to describe.</p>
               </div>
            </div>
         </div>
         <div class="jas-col-sm-4 jas-col-xs-12">
            <div class="jas-service tl mt__20 mb__20"><div class="icon medium cp" style="color: #9e9e9e"><i class="pe-7s-car"></i></div><div class="content tl">
                  <h3 class="title cp tu fs__14 mg__0 mb__5" style="color: #222222">Add a title</h3>
                  <p class="mg__0" style="color: #878787">Use this text to describe.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</li>