<div class="jas-col-md-3 hidden-sm hidden-xs pr pr__0">
	<div class="summary entry-summary tc{%- if product.images.size > 2 %} jas-sidebar-sticky{%- endif -%}">
		{%- include 'pr_info_one',css_align:"center-xs" -%}
		{%- if pages[settings.delivery_return].content != blank -%}
		   {%- include 'delivery_return' -%}
		{%- endif -%}
		{%- if settings.show_share_btn -%}
		<div class="social-share">
		  {%- include 'social-sharing', follow_social:gl_follow_social -%}
		</div>
		{%- endif -%}
	</div>
</div>
<div class="jas-col-md-6 jas-col-sm-6 jas-col-xs-12 pr jas_thumbs_img{%- if page_pr_img_size or nav_pr_img_size %} jas_section_eqh {{settings.image_size_thumb}} nav_{{settings.image_size_nav}}{%- endif -%}">
	{%- include 'product_labels' -%}
	<div class="single-product-thumbnail pr bc_{{cv_color}}{%- if page_pr_img_size or nav_pr_img_size %} page_pr_img_size{%- endif -%}">
       <div class="p-thumb images shopify-product-gallery jas-masonry image-action-{{settings.main_click}} tc" data-masonry='{"selector":".p-item", "layoutMode":"masonry"}'>
			{%- include 'arr_img_thum_2' -%}
		</div>
		{%- include 'group_btn_pr' -%}
	</div>
</div>
<div class="jas-col-md-3 jas_custom_column jas-col-sm-6 jas-col-xs-12 pr pl__0">
	<div class="summary entry-summary tc{%- if product.images.size > 2 %} jas-sidebar-sticky{%- endif -%}">
		<div class="hide-md visible-sm">
			{%- include 'pr_info_one',css_align:"center-xs" -%}
		</div>
		{%- include 'pr_form' -%}
		<div class="hide-md visible-sm">
			{%- include 'product_meta' -%}
			{%- if pages[settings.delivery_return].content != blank -%}
		   {%- include 'delivery_return' -%}
		{%- endif -%}
			{%- if settings.show_share_btn -%}
			<div class="social-share">
			  {%- include 'social-sharing', follow_social:gl_follow_social -%}
			</div>
			{%- endif -%}
		</div>
	</div>
</div>