/*-----------------------------------------------------------------------------// Custom Theme CSS/-----------------------------------------------------------------------------*//*---------------- Global Custom CSS -------------------*/.jas_title_1 {line-height: 40px;}/*---------------- Custom CSS for desktop -------------------*/@media (min-width: 992px) {}/*---------------- Custom CSS for tablet -------------------*/@media (min-width: 768px) and (max-width: 991px) {}/*---------------- Custom CSS for mobile landscape -------------------*/@media (min-width: 481px) and (max-width: 767px) {}/*---------------- Custom CSS for mobile -------------------*/@media (max-width: 480px){}ss


.np-newswrap{
  max-width: 560px;
}
.np-newsdesc{
  font-size: 20px;
  line-height: 1.4;
  max-width:350px;
  margin:0 auto 20px;
  text-align:center;
}
.np-custom-inner .signup-newsletter-form{
  margin:0 auto;
}
.np-custom-inner .signup-newsletter-form{
  border-radius:0px;
}
.np-custom-inner .signup-newsletter-form input.submit-btn{
  background-color:#252525;
  border-radius: 0;
  height: 42px;
  letter-spacing:0.5px;
  right: -1px;
}
.np-custom-inner  .signup-newsletter-form input.input-text{
  min-width:210px;
}

.jas-service img{
  display:block;
  margin:0 auto 20px;
}

.jas-service .small img{
  max-width:100px; 
}
.footer-logo{
  display:block;
  margin:0 auto 60px;
}
.jas-npcat:after{
  content: '';
  display: block;
  clear: both;
}
.collection_txtblock{
  width: 24%;
  float: left;
  position: relative;
  display: inline-block; 
  text-align:left;
  padding:0 15px;
}
.collection_txtblock .jas_title_1{
  text-align:left;
  margin-bottom: 12px;
}
.jas-npcat .jas-row.jas-carousel{
  width: 76%;
  position: relative;
  float: left;
  display: inline-block;
}
.jas-npcat .jas-carousel .slick-list{
  width: calc(100% + (80vw - 100%)/2);
}

.jas-npcat .jas-carousel .slick-next{
	left: calc(100% + (71vw - 100%)/2)!important;
}
.jas-clist ul li{
  list-style:none;
  position:relative;
}
.jas-clist ul li a:after{
  content:"\f105";
  font-family:Fontawesome;
  margin-left:6px;
}
.jas-npcat .jas_cat_default .hover-wrap{
  left:0;
  right:0;
  bottom:0;
  width:100%;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: nnone;
  background-color:rgba(15, 31, 48, 0.71);
}
.jas-npcat .jas_cat_default .hover-wrap:hover{
  background-color:rgba(15, 31, 48, 0.8);
}
.jas-npcat .hover-wrap h3{
  font-size:24px;
  font-weight:400;
  color:#fff;
  text-align: left;
  padding: 15px 24px;
}
.sub-cat-thumb{
  overflow:hidden; 
}
.jas_cat_default .jas-cat-content > .sub-cat-thumb > a {
  display: block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 800px;
  -webkit-perspective: 800px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.jas_cat_default:hover .jas-cat-content > .sub-cat-thumb > a {
  transform: scale(1.11);
  -webkit-transform: scale(1.11);
  -o-transform: scale(1.11);
  -moz-transform: scale(1.11);
}
.jas-subcats .slick-next, .jas-subcats .slick-prev{
  top: calc(50% - 40px);
}
.np_clearfix{
  width:100%;
  clear:both;
}
.jas-subcat-title{
  width:22%;
  float:left;
  padding:0px 15px;
}
.jas-subcats{
  width:78%;
  float:left;
  padding:0 15px;
}
.hover-subwrap h4{
  font-size:18px;
  margin: 8px 0px;
}
.jas-subcat-list{
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(29, 56, 88, 0.85);
  padding: 30px 20px;
  font-size: 18px;
}
.jas-subcat-list a{
  text-decoration:underline; 
}
.jas-cat-parent .page-head.lazyload:before, 
.jas-cat-parent .page-head.lazyloading:before, 
.jas-cat-parent .page-head.lazyloaded:before {
  background: rgba(0, 0, 0, 0.1);
}
.jas-cat-parent .page-head{
  padding:100px 0px 90px; 
}
.page-head h1{
  font-size:28px !important;
  letter-spacing:2.5px !important;
}

.description_tab .panel.entry-content.sp-accordion-content{
  column-count: 2; 
}

.related.product-extra .jas_title_1{
  font-weight: 700;
  font-size: 25px !important;
  letter-spacing: 1px;
  text-align: left !important;
}
.promo_shipping_text.jas_user_ship{
  padding:15px 0px;
  border-top: solid 1px #c5c5c5;
  border-bottom: solid 1px #c5c5c5;
  font-weight: 400;
}
.text_ship_fea h4{
  margin-top:0px;
  font-size: 16px;
  font-weight: 700;
}
.swatch__title{
  font-size:16px !important; 
}
.entry-summary .price{
  font-size: 28px !important; 
  line-height: 1.2!important; 
  color: #4d80b0 !important; 
  font-weight: 700!important; 
}
.tab-heading:after{
  background: #00abbc; 
}
.related.product-extra .jas-carousel .product{
  padding-left: 8px !important;
  padding-right: 8px !important; 
}
.related.product-extra .jas-carousel .product .product-inner{
  padding: 6px;
  border: solid 1px #979797;
  border-radius: 1.5px;
}
.related.product-extra h3.product-title{
  font-size:14px !important;
  margin-bottom: 4px;
}
.related.product-extra .jas-carousel .product .product-inner .product-info .price{
  color: #4d80b0;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
  display: block; 
}
.template-product .main-page-wrapper{
  border-top: solid 1px #c5c5c5;
  margin-top: 10px;
  padding-top: 20px;
}
.bgbl .jas-container{
  border-bottom: solid 1px #c5c5c5;
}
.template-product .shopify-breadcrumb{
  font-size:16px; 
}
.template-collection .products .jas-grid-item .product-inner{
  border-radius: 2.7px;
  border: solid 1px #979797;
  padding: 15px;
}
.template-collection .products .jas-grid-item .product-inner h3.product-title{
  font-size:16px !important;
  margin-bottom: 6px;
}
.template-collection .products .jas-grid-item .product-inner .product-info .price{
  color: #4d80b0;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
  display: block; 
}
.template-collection .jas-pagination, .template-collection .shopify-pagination{
  margin: 80px auto 0px;
  border-color: #979797;
}
.template-collection .page-head{
  padding: 100px 0 80px;
  min-height: 350px;
  display: flex;
}
.spr-badge{
  min-height:24px;
}
.cat-menu-list{
  margin-bottom:20px; 
}
.header-text{
  font-weight:700; 
}
.jas_custom_jas_product_subcategories{
  width:100%; 
}
.type_jas_product_subcategories{
  width:100%; 
  padding: 0 15px;
}
.template-index .jas-grid-item .jas-product-image{
  border-radius: 2.7px;
  border: solid 1px #979797;
  padding: 6px;
}

.template-page .page-head.np-pagehead{
  min-height:340px;
  display:flex;
  align-items:center;
}
.template-page .np-pagehead.page_jas_bg_image.page_brand_bg_image:before{
  display:none 
}
.template-collection .np-pagehead:before{
  display:none 
}
.page-head.np-pagehead .jas-container,
.template-collection .page-head.np-pagehead .jas-container{
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(29, 56, 88, 0.85);
  padding: 30px 20px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jas-npbrands{
  padding-right: 1rem;
  padding-left: 1rem;
}
.jas-npbrands .shopify-section{
  width:100%;
}
.jas-brands-item img{
  display:block;
  margin:0 auto;
}
.jas-subcats .jas-grid-item .jas-product-image{
  border-radius: 2.7px;
  border: solid 1px #979797;
  padding: 4px;
}
.jas-sales-banner{
  margin-top:70px; 
}
.jas-sales-banner .jas-promotion .pa{
  pointer-events: visible;
}
.jas-sales-banner .jas-promotion .pa h3{
  font-size:32px;
  line-height:36px;
  text-transform:uppercase;
}
.jas-sales-banner .jas-promotion .pa h5{
  font-size:20px;
  line-height:24px;
}
@media only screen and (min-width: 35em){
  .jas_title, .jas_title_1 {
    font-size:32px;
    line-height:36px;
  }
  .jas-promotion.top .pa{
    top:50px; 
  }
}

@media only screen and (min-width: 48.1em){
  .jas-masonry .jas-col-md-fd, .categories-masonry .jas-col-md-fd{
    width:33.3333%;
  }
  .jas-col-md-fd{
    -ms-flex-preferred-size:33.3333%;
    -webkit-flex-basis: 33.3333%;
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }
  .jas-npcat .jas-carousel .slick-next{
/*     display:none !important; */
  }
  .jas-npcat{
    display: flex;
    align-items: center;
  }
  .jas-sub-cat-row{
    display: flex;
    align-items: center;
  }
}


@media only screen and (min-width: 62em){
  .jas-masonry .jas-col-md-fd, .categories-masonry .jas-col-md-fd{
    width:20%;
  }
  .jas-col-md-fd{
    -ms-flex-preferred-size:20%;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    max-width: 20%;
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  .jas-guarantee .jas-container{
    width:860px;
  }

}
@media only screen and (max-width: 48em){
  .jas-subcat-title{
    width:100%; 
  }
  .jas-subcats{
    width:100%; 
  }
  .jas_custom_jas_product_subcategories.jas-container{
    max-width:100%;
    width:100%;
  }
}
@media only screen and (max-width: 35em){
  .jas-promotion .pa h3{
    font-size:24px !important;
    line-height:27px !important;
  }
  .jas-promotion .pa h5{
    font-size:15px !important;
    line-height:17px !important;
  }
  .collection_txtblock{
    width:100%; 
  }
  .jas-npcat .jas-row.jas-carousel{
    width:100%; 
  }
  #jas-footer.footer-1 .jas-row>div:not(:last-child) {
    margin-bottom: 25px;
  }
  .jas-subcat-title{
    width:100%; 
  }
  .jas-subcats{
    width:100%; 
  }
}