<div class="page-head pr tc">
     <div class="jas-container pr">
        <h1 class="tu cw mb__10">Shortcode Helper</h1>
     </div>
</div>
<div class="jas-container">
  <article id="post-{{ page.id }}" class="post">
   <h3 class="jas_title_1 pr fwb mt__20">Products<span class="sub-title db"></span></h3>
     {%- section 'shortcode_pr' -%}
    <h3 class="jas_title_1 pr fwb mt__20">Products Owl<span class="sub-title db"></span></h3>
     {%- section 'shortcode_pr_owl' -%}
   <h3 class="jas_title_1 pr fwb mt__20">Gallery Images<span class="sub-title db"></span></h3>
     {%- section 'shortcode_collection' -%}
  </article><!-- #post-# -->
</div>




